.header-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.search-input {
    all: unset;
    width: 400px;
    height: 24px;
    border-radius: 4px;
    align-items: center;
    background-color: #8a848a;
    opacity: 0.9;
    color: white;
    text-align: center;
}

.search-input::placeholder {
    color: white;
    opacity: 1;
}

.header-profile {
    position: relative;
}

.profile-btn {
    position: relative;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.user-status {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: green;
}

.profile-image {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: block;
}

.header-buttons {
    display: flex;
    gap: 8px;
}

#close {
    width: 16px;
    height: 16px;
    border: none;
    background-color: red;
    border-radius: 50%;
}

#minimize {
    width: 16px;
    height: 16px;
    border: none;
    background-color: yellow;
    border-radius: 50%;
}

#maximize {
    width: 16px;
    height: 16px;
    border: none;
    background-color: green;
    border-radius: 50%;
}