.profile-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.chat {
    width: 100%;
    height: 70%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.chat-history {
    width: 100%;
    height: 64%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.bookmark {
    gap: 8px;
    align-items: center;
    display: flex;
}

.bookmark-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: medium;
    color: gray;
}

.profile-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px;
    gap: 4px;
}

.profile-image-small {
    width: 32px;
    height: 32px;
    border-radius: 20%;
    background-color: gray;
}

.profile-image-large {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    background-color: gray;
}

.profile-big {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 16px;
}

.disclaimer {
    display: flex;
    align-items: center;
}

.view-profile {
    border: 1px solid gray;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 32px;
}

.online {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: green;
}

.profile-card {
    display: flex;
    align-items: center;
    gap: 8px;
}

.message-card {
    display: flex;
    align-items: center;
    gap: 8px;
}

.message-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.new-msg {
    display: flex;
    width: 80%;
    align-self: center;
    gap: 8px;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 0px;
    position: absolute;
    bottom: 16px;
}

.msg-options {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 4px 8px;
}

.options-footer {
    display: flex;
    justify-content: space-between;
}

.sender {
    background-color: #01715A;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 4px;
    padding: 6px 6px 4px 7px;
    margin: 4px;
}

.gray {
    background-color: lightgray;
    padding: 6px 12px;
}

.msg-input-field {
    all: unset;
    color: gray;
    font-size: 12px;
    padding: 6px 12px;
}

.chat-date-container {
  position: relative;
  text-align: center;
  margin: 18px 0;
}

.chat-date {
  display: inline-block;
  position: relative;
  background: white; 
  padding: 4px 12px;
  font-size: 14px;
  color: black;
  border: 1px solid lightgray;
  border-radius: 16px;
}

.chat-date-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 1px solid lightgray;
  transform: translateY(-50%);
}

.date-partition {
    border: 1px solid lightgray;
    width: 100vw;
}

.user-mention {
    color: #1264A3;
    font-weight: bold;
    padding: 0px 4px;
    background-color: #C2D9EB;
}